body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h2 {
  text-align: center;
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.image {
  width: 150px;
  cursor: pointer;
  transition: transform 0.2s;
}

.image:hover {
  transform: scale(1.05);
}

#img-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#img-overlay.ativo {
  display: flex;
}

#imagemGrande {
  max-width: 80%;
  max-height: 80%;
  box-shadow: 0 0 10px black;
  border-radius: 5px;
}


#fechar {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: larger;
  color: rgb(108, 9, 121);
  cursor: pointer;
  user-select: none;
  background-color: none;
}
